title N/A
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="author", content="blues")
link(rel="stylesheet", type="text/css", href="#{viewHelper.getAppPath()}/css/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="#{viewHelper.getAppPath()}/css/bootstrap-table.css")
link(rel="stylesheet", type="text/css", href="#{viewHelper.getAppPath()}/css/screen.css")
script(src="#{viewHelper.getAppPath()}/js/plupload.full.min.js")
script(src="#{viewHelper.getAppPath()}/js/jquery.min.js")
script(src="#{viewHelper.getAppPath()}/js/bootstrap.min.js")
script(src="#{viewHelper.getAppPath()}/js/bootstrap-table.js")
script(src="#{viewHelper.getAppPath()}/js/url.js")
script(src="#{viewHelper.getAppPath()}/js/jquery.validate.js")
script(src="#{viewHelper.getAppPath()}/js/messages_zh.js")
script(src="#{viewHelper.getAppPath()}/js/additional-methods.js")

style.
  .update {
    margin-right: 5px;
  }
  .remove {
    margin-left: 5px;
  }
  .alert {
    padding: 0 14px;
    margin-bottom: 0;
    display: inline-block;
  }

<!--[if lt IE 9]>
script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js")
<![endif]-->
